<app-header>

<main>
  <section style="min-height: 100vh;">
    <app-about></app-about>
  </section>

  <section style="min-height: 100vh;">
    @defer (on viewport) {
      <app-skills></app-skills>
    } @placeholder {
      <div class="text-center my-5">
        <div class="spinner-border text-primary" role="status"></div>
      </div>
    }
  </section>

  <section style="min-height: 100vh;">
    @defer (on viewport) {
      <app-projects></app-projects>
    } @placeholder {
      <div class="text-center my-5">
        <div class="spinner-border text-success" role="status"></div>
      </div>
    }
  </section>

  <section style="min-height: 100vh;">
    @defer (on viewport) {
      <app-certificaciones></app-certificaciones>
    } @placeholder {
      <div class="text-center my-5">
        <div class="spinner-border text-success" role="status"></div>
      </div>
    }
  </section>

  <section style="min-height: 100vh;">
    @defer (on viewport) {
      <app-contact></app-contact>
    } @placeholder {
      <div class="text-center my-5">
        <div class="spinner-border text-warning" role="status"></div>
      </div>
    }
  </section>
</main>

<app-footer></app-footer>
</app-header>